<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% if @game %>
    <h2><%= "#{@game.victor} wins!"%> </h2>
  <% end %>
  <br>
  <form action="play" method="post">
    <label for="player_one"> <%= @player_one.name %> </label>
    <input type="submit" id="rock" name="p1" value="rock">
    <input type="submit" id="paper" name="p1" value="paper">
    <input type="submit" id="scissors" name="p1" value="scissors">
  </form>
</body>
</html>
